:global {
    .ant-card-head-title {
        font-size: 14px;
        color: #000;
        text-align: left;
        line-height: 22px;
    }
    .ant-form-item {
        margin-bottom: 8px;
    }
    .ant-card-body {
        padding: 20px;
    }
    .ant-form-item-label {
        text-align: right;
    }
    .ant-drawer-body {
        padding: 20px;
    }
    .ant-radio-wrapper {
        font-size: 14px;
        color: #323c47;
        letter-spacing: 0;
        text-align: left;
        line-height: 22px;
    }
    a:hover {
        color: #ff6d4a;
    }
    .drawerBtn {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 820px;
        border-top: 1px solid #e9e9e9;
        padding: 10px 16px;
        background: #fff;
        text-align: right;
    }
}
.drawerContent {
    height: 100%;
    .cards {
        margin-top: 20px;
        padding-bottom: 35px;
        > div {
            margin-bottom: 20px;
        }
    }
}
