.other {
    :global {
        .ant-radio-wrapper {
            font-size: 14px;
            color: #323c47;
            letter-spacing: 0;
            text-align: left;
            line-height: 22px;
        }
    }
}
